body {
    background-color: #FCF8E8;
}
h1{
    font-size: larger;
    font-weight: bolder;
    
}

    fieldset{
        width: 70%;
    }
    #box {
        border: 3px solid #D4E2D4;
        box-shadow: 0 5px 5px #D4E2D4;
        height: 300px;
        width: 900px;
        margin-left: 150px ;
        margin-top: 50px;
    }
    #imageBlog{
        float:left;
        padding: 20px;
        border-radius: 100px;
        width: 100px;
        height: 100px;
    }
    h2{
        padding-top: 30px;
    }
    #submitForm{
        margin-left: 50%;
        margin-right: 50%;
    }
    #box2 {
        border: 3px solid #D4E2D4;
        box-shadow: 0 5px 5px #D4E2D4;
        height: 300px;
        width: 900px;
        margin-left: 150px ;
        margin-top: 50px;
    }
    button{
        margin-left: 50px;
        margin-top: 80px;
        background-color:rgb(197, 129, 4);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 10‒;
        margin-left: 50px;
    }
    #box3 {
        width: 50%;
        margin: 100px;
        margin-left: 350px;
    }
    .l1{
        margin-left:30%;
    }
    /* #name3 {
        width: 262px;
    } */
    /* #name{
        width: 150px;
        height: 150px;
    } */
    .pointer {cursor: pointer;}
    /* .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
       /* background-color:aqua;*/
        /* opacity: 0.9;
        overflow-x: hidden;
        transition: 0.5s;
      } */ */
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
    
    p {
    text-align: justify;
    padding: 20px;
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    }
    fieldset{
        width: 70%;
    }
    /* #box {
    background-color: #FCF8E8;
        border: 5px ;
        height: 300px;
        width: 900px;
        margin-left: 150px ;
        margin-top: 50px;
        border-color: black;
    }  */
    #imageBlog{
        float:left;
        padding: 20px;
        border-radius: 100px;
        width: 100px;
        height: 100px;
    }
    h2{
        padding-top: 30px;
        color:#DF7861;
        font-family:cursive;
        font-size: 20px;
        letter-spacing: 4px;
    }
    #submitForm{
        margin-left: 50%;
        margin-right: 50%;
    }
    #box3 {
        width: 50%;
        margin: 100px;
        margin-left: 350px;
    }
    #navButton{
      position: relative;
      left: 500px;
    background-color: #DF7861;
        border-radius: 4em;
        color: white;
        padding: 10px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        margin-top: 50px;
    }
    /* #name{
        width: 180px;
        height: 40px;
    } */
    .pointer {cursor: pointer;}
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color:whitesmoke;
        opacity: 0.9;
        overflow-x: hidden;
        transition: 0.5s;
      }
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
    
    .container2 {
    display: table;
    background-color: black;
    border-width: 5px;
      }
       .overlay-content{
    background-color: #FCF8E8;
      }
      #btn{
          font-size: 30px;
          color: #DF7861;
          border-width: 3px ;
          padding: 5px;
    margin: 100px;
      }
    #name{
        border-width: 3px;
        width: 75%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    #name3{
        border-width: 3px;
        width: 75%;
        height: 200px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    #name2 {
        border-width: 3px;
        width: 75%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .post{
        border-width: 5px;
    }
    .star-widget .l1 {
        color: #DF7861;
        border: red;
        border-width: 10px;
    }