p {
text-align: justify;
padding: 20px;

}
fieldset{
    width: 70%;
}
#box {

    border: 5px solid black;
    height: 300px;
    width: 900px;
    margin-left: 150px ;
    margin-top: 50px;

} 

#imageBlog{
    float:left;
    padding: 20px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}


h2{
    padding-top: 30px;
}


#submitForm{
    margin-left: 50%;
    margin-right: 50%;


}

main{
    margin-left: 50px;
}
#box2 {

    border: 5px solid black;
    margin-top: 50px;
    height: 300px;
    width: 900px;
    margin-left: 150px ;

} 


button{
    margin-left: 500px;
    margin-top: 80px;
}


#box3 {
    width: 50%;
    margin: 100px;
    margin-left: 350px;
}

.l1{
    margin-left: 30%;

}

#name3 {
    width: 262px;
}
#navButton{
    margin-bottom: 20px;
}
/* #name{
    width: 150px;
    height: 150px;
} */
.pointer {cursor: pointer;}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
   /* background-color:aqua;*/
    background-color: skyblue;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }



